@charset "UTF-8";

:root{
    --cor-1:#203a8eeb;
    --cor-2:#ffffff;
    --cor-3:#63B5EB;
    --cor-4:#242426;
    --cor-5:#000;
    --cor-6:#737476;
   --font-1:  Georgia, 'Times New Roman', Times, serif;
   --font-2:'Times New Roman', Times, serif;
   --font-3: style;
}

body{
   
    background-color: var(--cor-1);

    font-size: 12pt;
    font-family:var(--font-1);
    text-align:center ;
;
}
title{
    font-family: var(--font-2);
}
.container{
    margin-left: 300px;
    margin-right: 300px;
    font: t;
    color: var(--cor-2);
    background-color: var(--cor-4);
    height: 2000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1{
    font-family: var(--font-);
    color:var(--cor-2) ;
}

p{
    font-family: var(--font-2);
    text-align: center;
    border: 2pt;
   margin:10px;
}

ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    overflow: hidden;
    background-color: var(--cor-4);
}

li {
    float: left;
    margin: 2px;
}

li a {
    
    display: block;
    color: var(--cor-2);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
 